.footer__map {
  margin-top: 469px;
}

.footer__social-media-list {
  @include reset-list;
  display: flex;
  flex-direction: row;

  padding-top: 37px;
}

.footer__social-media-item {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  
  border: 2px solid #c2cec7;
  border-radius: 50%;
}

.footer__social-media-item svg {
  opacity: 0.8;
}

.footer__social-media-item:hover svg {
  opacity: 1;
}

.footer__social-media-item:active svg path,
.footer__social-media-item:active svg g {
  opacity: 1;
  fill: #e9e9e9;
}