.good {
  position: relative;

  width: 267px;
  min-height: 330px;
  padding-top: 6px;
  box-sizing: border-box;

  &:hover {
    z-index: 1;
  }

  &:hover .good__hover {
    display: block;
    z-index: -1;
  }

  &:hover .good__link {
    display: block;
    z-index: 2;
  }
}

.good__price {
  position: absolute;
  top: 214px;
  left: 0;

  @include reset-p;
  @include font_weight-size-lheight(700, 45px, 45px);
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);  
}

.good__price-weight {
  @include font_weight-size-lheight(700, 30px, 45px);
}

.good__description {
  @include reset-p;
  @include font_weight-size-lheight(500, 16px, 22px);
  color: #ffffff;
  text-align: center;
  word-break: break-word;
  text-decoration: underline rgba(#ffffff, 0.2);
  text-underline-offset: 3px;

  margin-top: 7px;
}

.good--hit::after {
  @include pseudo-element;
  top: 6px;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url(/img/hit.png);
}

.good__hover {
  display: none;
  position: absolute;
  top: 0;
  left: -13px;

  width: 293px;
  height: calc(100% + 75px);

  background-color: #ffffff;

  border-radius: 8px;

  opacity: 0.3;

  z-index: -1;
}

.good__link {
  display: none;
  position: absolute;
  bottom: -60px;
  left: 32px;

  z-index: 2;
}