.header__body {
  margin-top: 9px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__navigation-list {
  @include reset-list;
  @include font_weight-size-lheight(700, 16px, 18px);
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__navigation-link {
  display: inline-block;
  position: relative;

  text-decoration: none;
  color: #ffffff;

  height: 32px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 6px;
  box-sizing: border-box;

  border-radius: 16px;

  &::after {
    position: absolute;
    bottom: 7px;
    left: 13px;
    content: "";

    width: calc(100% - 26px);
    border-bottom: 1px solid rgba(#ffffff, 0.2);
  }

  &:hover {
    background-color: #f7f6f3;
    color: #323232;
  }
  
  &:hover::after,
  &--active::after {
    border: none;
  }
  
  &:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
  }
  
  &--active {
    background-color: #d07058;
    cursor: default;
  }
}

.header__navigation-item {
  margin-right: 2px;

  color: #ffffff;
}

.header__navigation-sub-list {
  @include reset-list;
  @include font_weight-size-lheight(400, 14px, 16px);
  position: absolute;
  top: 37px;
  left: -8px;

  display: none;
}

.header__navigation-sub-list::after {
  @include pseudo-element;
  left: 15px;
  top: -5px;
  width: 70px;
  height: 6px;
}

.header__navigation-sub-link {
  display: inline-block;

  width: 143px;
  height: 28px;
  padding-left: 20px;
  padding-top: 6px;
  margin-top: 2px;
  margin-bottom: 3px;
  box-sizing: border-box;

  text-decoration: none;

  color: #323232;

  &--new {
    position: relative;
    font-weight: 700;

    height: 28px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 6px;
    box-sizing: border-box;

    &::after {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 6px;
      width: calc(100% - 15px);

      border-bottom: 1px solid rgba(#323232, 0.2);
    }
  }

  &:hover {
    background-color: #fbded7;
  }

  &:active {
    background-color: #f6b5a5;
  }

  &--active {
    background-color: #d07058;
  }
}

.header__right-side {
  margin-left: auto;
}

.header__buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 11px;
}

.header__logo-image {
  width: 154px;
  height: 64px;
}

.header__navigation {
  padding-top: 14px;
}

.header__button {
  @include reset-button;
  position: relative;

  height: 32px;
  min-width: 32px;

  border-radius: 16px;

  background-color: rgba(#ffffff, 0.2);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;

  &--log-in,
  &--cart {
    padding-left: 45px;
    padding-right: 16px;
    margin-left: 10px;
  }

  &--search-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 8px;
  }

  &--log-in-icon {
    position: absolute;
    width: 21px;
    height: 19px;
    top: 6px;
    left: 17px;
  }

  &--cart-icon {
    position: absolute;
    width: 21px;
    height: 20px;
    top: 6px;
    left: 16px;
  }

  &:hover {
    background-color: #f8f7f4;
    color: #323232;
  }

  &:hover path,
  &:hover circle {
    fill: #323232;
  }

  &:hover .cart-red-fill {
    fill: #E84D37;
  }
}

.header__button--full-cart {
  padding-left: 45px;
  padding-right: 16px;
  margin-left: 10px;

  background-color: #f8f7f4;
  color: #323232;
}

.header__button--full-cart-icon {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;

  display: none;
}

.header__right-side {
  padding-top: 14px;
}

.header__info {
  margin-top: 17px;
}

.header__work-time {
  @include font_weight-size-lheight(700, 14px, 16px);
  @include reset-p;
  color: #ffffff;
  text-align: right;
}

.header__phone-number {
  @include font_weight-size-lheight(700, 22px, 24px);
  @include reset-p;

  margin-top: 4px;

  color: #ffffff;
  text-align: right;
}

.header__search {
  position: absolute;
  top: 36px;
  left: -310px;
  min-width: 341px;
  padding: 20px 15px;
  box-sizing: border-box;
  
  display: none;

  &::after {
    @include pseudo-element;
    top: -15px;
    right: 0;

    width: 35px;
    height: 25px;
  }
}

.header__input-search {
  min-width: 311px;
}

.header__form {
  display: flex;
  flex-direction: column;
  
  position: absolute;
  top: 36px;
  left: -142px;
  min-width: 277px;
  padding: 20px 17px 22px 19px;
  box-sizing: border-box;
  
  display: none;
}

.header__form::after {
  @include pseudo-element;
  width: 90px;
  height: 25px;

  right: 0;
  top: -5px;
}

.header__form-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.header__input-login {
  margin-bottom: 20px;  
}

.header__input-password {
  margin-bottom: 20px;
}

.header__form-link {
  position: relative;
  display: inline;

  @include font_weight-size-lheight(400, 13px, 21px);
  color: #323232;
  text-decoration: none;

  margin-left: 20px;

  &::after {
    @include pseudo-element;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    background-color: rgba(#000000, 0.3);
  }
}

.header__shoping-cart {
  position: absolute;
  top: 36px;
  left: -277px;

  min-width: 540px;
  box-sizing: border-box;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 14px;

  display: none;

  &::after {
    @include pseudo-element;
    top: -5px;
    right: 25px;
    width: 110px;
    height: 6px;
  }
}

.header__cart-items-list {
  @include reset-list;
}

.header__cart-item-delete {
  @include reset-button;
  width: 11px;
  height: 11px;

  margin-top: 10px;
  margin-left: 6px;

  background-image: url(/img/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;

  flex-shrink: 0;

  cursor: pointer;
}

.header__cart-item-image {
  width: 33px;
  height: 33px;

  margin-left: 10px;

  &--orange {
    background-image: url(/img/icon-yellow-icecream.png);
  }
  
  &--strawberry {
    background-image: url(/img/icon-pink-icecream.png);
  }

  flex-shrink: 0;
}

.header__cart-item {
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;

  @include font_weight-size-lheight(400, 13px, 16px);
}

.header__cart-item-name {
  width: 230px;

  margin-top: 9px;
  margin-left: 13px;

  flex-shrink: 0;
}

.header__cart-item-cost-calculation {
  min-width: 100px;

  margin-top: 9px;
  margin-left: 16px;
}

.header__cart-item-total {
  min-width: 50px;

  margin-top: 9px;
  margin-left: 24px;
  padding-right: 19px;
}

.header__cart-item-price {
  color: #999999;
}

.header__cart-total {
  @include font_weight-size-lheight(700, 15px, 18px);
  text-align: right;

  margin-top: -4px;
  padding-top: 13px;

  border-top: 1px solid #cacac7;
}

.header__cart-order-button {
  margin-top: 15px;

  float: right;
}