@mixin font_weight-size-lheight($weight, $size, $lheight) {
  font-family: "Roboto", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lheight;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button {
  border: none;
  margin: 0;
  padding: 0;
}

@mixin reset-p {
  margin: 0;
  padding: 0;
}

@mixin pseudo-element {
  position: absolute;
  content: "";
}